
          .Jason {
            background-color:#66bfbf
            width: 200px;
            height: 250px;
            
             border-radius:50%;
          }

          body {
            background-color: #CBF1F5;
          }
            hr {
              background-color:rgb(255, 255, 255);
              width: 10%;
              border-width: 5px;
              border-style: none;
              border-top-style: dotted;
              border: width 10px; 
              border-color: rgb(211, 205, 205);
            }
          h1 { 
          color:blueviolet
          }
          